.place__title {
  width: 36vw;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  margin: 0;
}

@media screen and (min-width: 1281px) {
  .place__title {
    width: 43vw;
  }
}

@media screen and (max-width: 1279px) {
  .place__title {
    width: 43vw;
  }
}

@media screen and (max-width: 1023px) {
  .place__title {
    width: 42.8vw;
    font-size: 42px;
    line-height: 46px;
    margin-right: 1.47vw;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 32px;
    width: calc(100% - 2*16px);
  }
}
