.place__image {
  width: 36vw;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 1281px) {
  .place__image {
    width: 43vw;
  }
}

@media screen and (max-width: 1279px) {
  .place__image {
    width: 43vw;
    height: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .place__image {
    width: 44.27vw;
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .place__image {
    width: 100%;
    height: 100%;
    padding-bottom: 32px;
  }
}
