.cover {
    margin: 92px 48px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    min-height: 740px;
    z-index: 1;
    background-image: url("../../images/cover-trains.jpg");
    background-size: cover;
}

.cover:hover .cover__background {
    background-color: rgba(0, 0, 0, .8);
}


@media screen and (max-width: 1279px) {
    .cover {
        margin: 90px 0;
        min-height: calc(100vw * 0.625);
    }
}

@media screen and (max-width: 767px) {
    .cover {
        margin: 65px 0;
    }
}
