.cover__background {
  height: 100%;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  background-position: center;
  background-color: rgba(42, 44, 47, .3);
  top: 0;
  left: 0;
}

