.cover__background {
  height: 100%;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, .3);
}

