.place {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.place:first-child {
  margin-top: 0;
}

@media screen and (max-width: 1023px) {
  .place {
    margin-top: 73px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    margin-top: 50px;
  }
}
